
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EKYC Inquiry</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EkycInquiry.styles.css" asp-append-version="true" />
    <script src="~/js/Viewer.js"></script>
</head>
<body>
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/lib/DataTable/datatables.min.css" rel="stylesheet">
    <link href="~/lib/DataTable/datatable.bootstrap.css" rel="stylesheet">
    <script src="~/lib/DataTable/datatables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
